* {
  box-sizing:border-box;
}
html, body {
  height:100%;
  margin:0;
}
body {
  transition:all 3s;
  background-color:blue;
}
.top {
  height:50%;
  padding-top:1em;
}
#quote {
  text-align:center;
  font-size:2em;
  margin-left:10%;
  width:80%;
}
.bottom {
  height:50%;
  text-align:center;
  padding-top:1em;
}
#get {
  display:block;
  margin-left:calc(50% - 5.5em);
  width:11em;
}
#twitter {
  display:block;
  margin-left:calc(50% - 3em);
  width:6em;
  margin-top:1em;
}